

@font-face {
  font-family: "South Park";
  src: url("../fonts/south park.ttf");
}

*{
    font-family: "South Park";
    
}
#row3 {
    text-align: right;
}

#title{
    font-family: "South Park";
  line-height: 5em;
  font-size: xx-large;

}
.top-buffer { margin-top:50px; }

#description{
    line-height: 1.5em;
}

p{
  font-family: "South Park";
}

.thecharacter {
height:100px;
}

img {
    height:100%;
}
