

@font-face {
  font-family: "South Park";
  src: url("../fonts/south park.ttf");
}


#title{
  line-height: 5em;
  font-size: xx-large;
  font-family: "South Park";
}

#description{
  font-family: "South Park";
  font


}

.character {
height:100px;
}
